

.side_navbar{
    right: 0;
    min-height: 100%;
    min-width: 480px;
    background-color: #364133;
    color: #f2d349;
    text-align: center;
}


.link_box{
    margin-top: 6px;
    display: block;
    padding: 12px;
    min-width: max-content;
}
