
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: sans-serif;
    /*for dark theme
    color: #fff;
    */

}

body{
    background-color: beige;
    margin: 0;
}

a{
    text-decoration: none;
    color: #5c6e58;
    font-weight: bold;
}

a:hover{
    color: beige;
}

h1{
    font-size: 60px;
}

h2{
    color: #333633;
}

h4{
    color:#f2d349
}

h5{
    font-size: 16px;
    margin-top: 0px;
}

.date{
    padding-left: 12px;
    font-size: 15px;
}

.top_third{
    min-height: -moz-fit-content;
    min-height: fit-content;
    max-width: 1630px;
    justify-content: center;
    margin: auto;
    z-index: -9999;
}

#alt{
    color: #5c6e58;
}

#selected{
    text-decoration: underline;
    background-color: #5c6e58;
    text-shadow:1px -2px 2px #222;
    color: beige;
}

.title{
    width: auto;
    margin: auto;
    right: 0px;
    justify-content: right;
    text-align: center;
    padding: 12px;
    padding-bottom: 40px;
    z-index: 0;
    font-size: 32px;
    font-weight: bold;
    border-radius: 8px;
}

.img_container{
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    background-color: #465343;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 200px;
    border: 1px solid #71856d;
    border-radius: 0px 0px 6px 6px;
    margin-bottom: 4px;
}

#featured{
    background-color: #465343;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    height: 200px;
    margin-bottom: 4px;
    box-shadow: inset 0px 0px 40px rgba(193, 255, 201, 0.521);

}

#price{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 12px;
}

.featured_price{
    margin: auto;
    color: #ffd829;
    text-shadow: -1px 1px 3px #222;
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#sale_title{
    color: #ff814f;
}

#oldprice{
    text-decoration: line-through;
    margin: auto;
}

#saleprice{
    margin: auto;
    color: #ff4800;
    font-size: 24px;
    text-shadow: -1px 1px 2px rgb(49, 22, 51);

}

.img_container img{
    margin: auto;
    height: 200px;
}

.img_container:hover{
    border: 1px solid #f2d349;
    border-radius: 0px 0px 6px 6px;
}

.menu_container{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 2px;
    background-color: #465343;
    box-shadow: 0px 1px 8px 0px #222;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    height: auto;
    width: 100%;
    background-image: url("../images/home_banner.png");

}

.menu_title_s{
    max-width: 100%;
    text-align: center;
    text-shadow: -9px 3px 4px black;
    /*border-bottom: 4px solid black;*/
    font-family: Anton, serif;
    letter-spacing: 0.4em;
    background-color: #1f2b2355;
    min-width: -webkit-fill-available;
}

.menu_title_s a{
    font-family: 'Times New Roman', Times, serif;
    color: beige !important;
}


#welcome_title{
    font-size: 38px;
    color: #e08549;
    text-shadow: -2px 2px 2px #333633;
}

#title_img{
    margin: auto;
}

#title_h{
    padding-left: 24px;
    border-bottom: 2px solid #000;
}

.nav{
    box-shadow: 0px 1px 8px 0px #222;
    text-align: center;
}


.main_menu{
    list-style-type: none;
    padding: 0;
    margin: 0px;
    border-bottom: solid 4px #71856d;
    background-color: #353d33;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
}

/* main navigation button style */

.main_menu li{
    display: inline-flex;
    font-size: 28px;
}

.main_menu a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #f2d349;
    text-shadow: 1px -2px 2px #333633;
    background-color: #353d33;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.main_menu a:hover {
    background-color: #5c6e58;
    text-shadow:1px -2px 2px #222;
    color: beige;
    border-left: 1px solid #f2d349;
    transition: 0.3s;
}


.page_wrapper{
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #465343;
    max-width: 1630px;

    align-items: stretch;
    align-content: center;
    /*make this wrap if mobile */
    flex-wrap: wrap;

    box-shadow: inset 0px -20px 20px 20px #203620;
}


.home_body{
    margin-top: 20px;
    justify-content: left;
    margin-left: 28px;
    margin-right: 28px;
    padding: 20px;
    border-radius: 8px;
    background-color:#fffbe9;
    /*for dark theme
    background-color:#1c1f1c;
    */
    box-shadow: 2px 2px 2px #222;
}

#home{
    position: fixed;
    bottom: 0;
}

#join{
    width: 800px;
}

#news{
    width: 800px;
    margin-bottom: 180px;
}

#shopping{
    margin-top: 0px;
}

.home_body_text{
    margin: auto;
    max-width: 50%;
    justify-content: center;
    text-align: center;
}

.grid{
    margin-top: 40px;
    text-align: center;
}

.block_1{
    display: inline;
}
.block_1 img{
    margin-bottom: 40px;
    border-radius: 8px;
    margin-left: auto;
    width: 420px;
    height: auto;
}

.about{
    max-width: -moz-fit-content;
    max-width: fit-content;
}

#about_us_home{
    max-width: 80%;
    text-align: justify;
    justify-content: center;
    margin: auto;
    margin-top: 16px;

}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.button{
    display: block;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 40px;
    border: 1px solid black;
    color: beige;
    background-color: #5c6e58;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    text-align: center;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

#atc{
    color: #222;
}
#atc:hover{
    text-decoration: underline;
    color: #353d33;
}

.button:hover{
    color: beige;
    text-shadow: -1px 2px 2px #222 ;
    background-color: #f2d349;
}

#cursor{
    position: relative;
    margin: auto;
    pointer-events: none;
    bottom: 26px;
    left: 126px;
}

.sub_heading{
    border-bottom:2px solid #5c6e58;
    font-size: 18px;
}

.sub_heading h2{
    margin-bottom: 0;
}

.link_box{
    color: beige;
    max-width: 55%;
}

.footer{
    text-align: center;
    border-top: 1px solid #728a6d;
    background-color: #353d33;
}

.footer_bt{
    margin-bottom: 0;
}

.footer_bt h4{
    margin-bottom: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #677762;
    border-top: 1px solid #728a6d;
}

.col{
    margin: 4vw;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    text-align: left;
    justify-content: center;
}

.col h4{
    font-size: 20px;
}

.col h5{
    font-size: 16px;
    margin-bottom: 8px;
    color: rgba(245, 245, 220, 0.692);
}

#footer_grid{
    display: inline-flex;
    padding-bottom: 120px;
}

#ft_grid_last{
    margin-right: 0px;
}

/*this is where the watchlist/my cart/checkout etc is located */

#nav_bottom{
    background-color: #f2d349;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    text-align: right;
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
}


.nav_list{
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_links{
    margin-right: 12px;
    margin-left: 6px;
}

a:hover.nav_links{
    text-shadow:1px -2px 2px #000;
}
.item_list_title{
    color:#222;
    text-transform: uppercase;
}

.item_list h4{
    color: #6c9277;
}

.item_list h4:hover{
    text-decoration: underline;
}

.item_list ul{
    margin-left: auto;
    padding: 12px;
}

.item_list li{
    list-style-type: none;
    padding-bottom: 12px;
}

.item_list_wrapper p{
    margin-top: 0px;
    padding-right: 2rem;
    padding-left: 12px;
    width: -moz-fit-content;
    width: fit-content;
    color: #222;
}

.item_list_wrapper{
    background-color: beige;
    padding: 18px;
    border: 6px solid #71856d;
    max-width: max-content;
    justify-content: center;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 34%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
}

.item_list_wrapper:hover{
    box-shadow: 2px 2px 2px 2px #465343;
}

.item_list_wrapper a:hover{
    color: #465343;
}

.item_list_wrapper img{
    width: auto;
    height: 120px;

}

#subtext_total{
    color: #333633;
    display: inline-flex;
}
#subtext_total:hover{
    box-shadow: none;
}


#atc{
    font-size: 12px;
    background-color: #f2d349;
    width: 100%;
}


.item_list_title{
    color:#222;
    text-transform: uppercase;
}

.item_list ul{
    margin-left: auto;
    padding: 12px;
}

.item_list li{
    list-style-type: none;
    padding-bottom: 12px;
}

.item_list_wrapper p{
    margin-top: 0px;
    padding-right: 2rem;
    padding-left: 12px;
    width: -moz-fit-content;
    width: fit-content;
    color: #222;
}

.item_list_wrapper{
    background-color: beige;
    padding: 18px;
    border: 6px solid #71856d;
    max-width: max-content;
    justify-content: center;
    border-radius: 4px;
}

.item_list_wrapper:hover{
    box-shadow: 2px 2px 2px 2px #465343;
}

.item_list_wrapper a:hover{
    color: #465343;
}

.item_list_wrapper img{
    width: auto;
    height: 120px;

}

#subtext_total{
    color: #333633;
    display: inline-flex;
}
#subtext_total:hover{
    box-shadow: none;
}

#item_description{
    width: 17em;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 12px;
}

#atc{
    font-size: 12px;
    background-color: #f2d349;
}

.content{
    display: inline-flex;
}


@media only screen and (min-width: 1500px) {.h_spacer{
    min-width: 30px;
}

.page_wrapper{
    flex-wrap: wrap;
}

#login_form{
    padding: 250px !important;
    padding-top: 42px !important;
}}

.nav_title{
    background-color: #71856d;
}

::selection{
    background: #000;
    color: #f2d349;
}


#login_form{
    margin: 10px;
    padding: 50px;
    font-size: 22px;
    background-color: #fffbe9;
    height: auto;
    border-radius: 4px;
}

.top_input_title{
    margin-top: 16px;
    color: #5c6e58;
}


#uname, #pword, #fname, #lname, #streetaddr, #emailaddr, #postcode, #dob{
    padding: 10px;
    min-width: 90%;
    font-size: 28px;
    margin-right: 12px;
    box-shadow: inset 0px 0px 40px 1px rgba(99, 136, 98, 0.719);
    box-sizing: border-box;
    color: #f2d349;
    background-color: #677762;
}

#dob{
    min-width: 40%;
}


#show_password{
    background-color:#fffbe9;
    border: none;
}

.password_block{
    display: flex;
}

.pages{
    margin-top: 24px;
    justify-content: center;
}

.pages a{
    margin: 20px;
}


.pages a:hover{
    color: #71856d;
}

#firstname_l{
    cursor: auto;
}

.pname_title{
    color: #5c6e58;
}

.desc{
    color: #222;
    font-size: 16px;
}

.inner_form_section{
    display: flex;
    color: #5c6e58;
}


#streetaddr{
    width: 380px;
}

#postcode{
    width: 80px;
}

.tcc{
    justify-content: center;
}

.tcc a:hover{
    color: #333633;
}

#checkbox_span{
    margin-left: 30px;
}

#atc_input{
    font-size: 18px;
    color: beige;
}

#atc_input:hover{
    text-decoration: underline;
    background-color: #677762;
}

input:focus {
    background-color: #fff !important;
    color: #353d33 !important;
}


.button_wrapper{
    padding-top: 0px;
}

input[type = submit]{
    color: beige;
}

input[type = submit]:hover{
    text-shadow: none;
}

input[type = submit]:active, input[type = submit]:focus{
    background-color: #728a6d!important;
}

#login_btn:hover{
    text-shadow: -1px 2px 2px #353d33;
}