
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: beige;
}

a{
    text-decoration: none;
    color: #5c6e58;
    text-shadow:1px 1px 1px beige;
    font-weight: bold;
}

h1{
    font-size: 60px;
}

h4{
    color:#f2d349
}

.top_third{
    min-height: fit-content;
    max-width: 1630px;
    justify-content: center;
    margin: auto;
    z-index: -9999;
}

#alt{
    color: #5c6e58;
}

#selected{
    text-decoration: underline;
}

.title{
    width: 412px;
    margin: auto;
    right: 0px;
    justify-content: right;
    text-align: center;
    padding: 12px;
    padding-bottom: 20px;
    z-index: 0;
    font-size: 28px;
    font-weight: bold;
    border-radius: 8px;
}

.img_container{
    /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    margin: auto;
    max-width: fit-content;
    top: 0px;
    display: none;
}
.img_container img{
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: #5c6e58;
}


.menu_container{
    margin: auto;
    padding-top: 80px;
    padding-bottom: 2px;
    background-image: url("../images/home_banner.png");
    background-color: #465343;
    box-shadow: 0px 1px 8px 0px #222;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1630px;
}

.menu_title_s{
    color: #fff;
    max-width: 100%;
    text-align: center;
    margin: auto;
    text-shadow: 4px 4px black;
    /*border-bottom: 4px solid black;*/
    font-family: Anton, serif;
    letter-spacing: 0.4em;
}


#title_img{
    margin: auto;
}

#title_h{
    padding-left: 24px;
    border-bottom: 2px solid #000;
}

.nav{
    box-shadow: 0px 1px 8px 0px #222;
    text-align: center;
    background-color: #465343;
    background-color: #5c6e58;
    padding-top: 2px;
    padding-bottom: 2px;
}


.main_menu{
    margin: 20px;
    list-style-type: none;
    padding: 0;
}


/* main navigation button style */

.main_menu li{
    display: inline;
}

/*
.main_menu li{
    display: inline;
    font-size: 28px;
    vertical-align: middle;

    background-color: beige;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.main_menu li:hover {
    background-color: #f2d349;
}

.media_text{
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}
*/
.list, .list a{
    margin: 4px;
}

.page_wrapper{
    display: flex;
    min-height: 3000px;
    max-width: 1630px;
    margin: auto;
    justify-content: left;
    background-color: #465343;
    box-shadow: 0px 1px 8px 0px #222;
}


.home_body{
    margin-top: 20px;
    justify-content: left;
    margin-left: 48px;
    margin-right: 48px;
    padding: 80px;
    border-radius: 8px;
    background-color:#e4f3e1;
    box-shadow: 2px 2px 2px #222;
}

#news{
    width: 800px;
    margin-left: 0;
}

#shopping{
    margin-top: -68px;
}

.home_body_text{
    margin: auto;
    max-width: fit-content;
    justify-content: center;
    font-weight: bold;
    text-align: center;
}

.grid{
    margin-top: 40px;
}

.block_1{
    display: inline;
}
.block_1 img{
    margin-bottom: 40px;
    border-radius: 8px;
    width: 420px;
    height: 300px;
}

.button{
    display: block;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 40px;
    border: 1px solid black;
    background-color: #5c6e58;
    color: #fff;
    justify-content: center;
    margin: auto;
    cursor: pointer;

    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.button:hover{
    background-color: #f2d349;
    color: #000;
}

#cursor{
    position: relative;
    margin: auto;
    pointer-events: none;
    bottom: 26px;
    left: 326px;
}

.sub_heading{
    border-bottom:2px solid #000;
}
.sub_heading h2{
    margin-bottom: 0;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5c6e58;
    text-align: center;
    border-bottom: 2px solid #465343;

}

#nav_bottom{
    background-color: #f2d349;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 64%, rgba(0,0,0,0.15) 66%, rgba(0,0,0,0.05));
    text-align: right;
    font-size: 18px;
}


.nav_list{
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav_links{
    margin-right: 12px;
    margin-left: 6px;
    color: #5c6e58;
}

a:hover.nav_links{
    text-shadow:1px -2px 2px #000;
    color: #fff;
}

